<div class="main-container container">
        <div class="container class-dropdown d-flex justify-content-between align-items-center">
            <div class="dropdown">
                <button class="btn btn-major dropdown-toggle rounded-pill rounded-start" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    category
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-circle-dollar-to-slot"></i>  全部</a></li>
                    <!--主畫面的cayegory下拉menu是從db中的資料決定的-->
                    {{#each categories}}
                        <li><a class="dropdown-item" href="#">{{{this.icon}}} {{this.name}}</a></li>
                    {{/each}}
                </ul>
            </div>
            <a href="/entries/new" class="new-btn btn btn-outline-primary btn-sm rounded-circle">+</a>
        </div>
        <div class="container money-display d-flex flex-column justify-content-center align-items-center">
            <h6 class="text-body-secondary">總消費</h2>
            <div class="main-money-container d-flex">
                <h5 class="text-body-secondary main-dollar-sign">$</h3>
                <h1 class="number main-number py-0">{{totalSpend}}</h1>
            </div>
        </div>
    <div class="container entries-display">
        <div class="table-wrapper table-responsive">
            <table class="table table-hover table-sm align-middle">
                <thead>
                    <tr>
                    <th scope="col"></th>
                    <th scope="col" class="text-body-secondary">Today:</th>
                    <th scope="col" class="text-body-secondary">$<spam class="number">2000</spam></th>
                    <th scope="col" class="text-body-secondary"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each entries}}
                    <tr>
                        <th scope="row">{{{matchIcon this ../categories}}}</i></th>
                        <td>
                            <div>
                                <h5 class="m-0 p-0">{{this.name}}</h5>
                                <p class="m-0 p-0 create-time">{{this.date}}</p>
                            </div>
                        </td>
                        <td>$<spam class="number">{{this.amount}}</spam></td>
                        <td>
                                <form action="/entries/{{this._id}}?_method=DELETE" method="post" class="d-flex flex-row align-items-end justify-content-end flex-wrap ">
                                    <a href="/entries/{{this._id}}/edit" class="btn btn-link btn-sm m-0 p-0 pe-2 link-underline link-underline-opacity-0">edit</a>
                                    <button type="submit" class="btn btn-link btn-sm m-0 p-0 link-underline link-underline-opacity-0">delete</button>
                                </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>